<div class="row">
  <div *ngFor="let item of collection" class="card" style="width: 15rem;">
    <h5 style="font-weight:bold; font-size: large; padding: 10px;" class="card-title">{{item.name}}</h5>
    <img mat-card-image src={{item.image}} class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">{{item.topping}}</p>
      <p style="font-weight:bold" class="card-text">Price: ₹{{item.price}}</p>
      <label class="crud">
        <button (click)="decrement(item)" class="incbtn">-</button>
        <input type="number" [value]="item['qty']">
        <button (click)="increment(item)" class="decbtn">+</button>
      </label>
      <label class="deleteBtn">
        <mat-icon color="warn" (click)="delete(item.id)">delete</mat-icon>
      </label>
    </div>
  </div>
</div><br> <br>
<div class="total" >
<p >Your Total Price Is: <span id="price">₹{{price}}</span></p><br> 
<a class="btn btn-primary" (click)="goToPaymentOption()">Click To Buy</a>
</div>