<mat-toolbar style="background-color: rgb(0, 85, 155);" >
  <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu"
    aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
    <mat-menu #menu="matMenu">
      <button mat-menu-item style="color: red;" routerLink="">Logout<mat-icon style="margin: 5px; color: black;">logout
        </mat-icon></button>
    </mat-menu>
  </button>
  <span id="pizza" routerLink="">Pizza </span>
  <div style="margin: 20%;" class="input-group">
    <input type="text" class="form-control" placeholder="Search..">
    <div class="input-group-append">
      <button><img style="width: 35px; height: 35px;"
          src="https://toppng.com/uploads/preview/search-icon-customer-icon-11564158924ifw7wyjtfu.png" alt="search">
      </button>
    </div>
  </div>
  <!-- <input  type="checkbox" id="toggle"> -->
  <img src="https://cdn-icons.flaticon.com/png/128/5558/premium/5558234.png?token=exp=1653386351~hmac=56452a3c63bd10c1411367c65a70b77e"  style="width: 40px; height:40px" class="dark-light"  (click)="toggleDarkMode()" [(ngModel)]="isDarkMode">

  <button style="cursor: pointer; margin: 5px; float: right;" mat-raised-button color="warn" mat-icon-button class="example-icon"
    aria-label="Example icon-button with share icon" routerLink="/userprofile">
    <mat-icon>face</mat-icon>
  </button>{{view.fname}}
  <div mdbDropdown class="dropdown">
    <a
      class="btn btn-primary dropdown-toggle"
      role="button"
      id="dropdownMenuLink"
      mdbDropdownToggle
      aria-expanded="false"
    >
    </a>
    <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
  </div>


  <mat-icon style="margin-left: 10px;" class="cart" routerLink="/cart">shopping_cart</mat-icon>
</mat-toolbar>


<!-- <div class="container">
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="carosel-img">
        <img
          src="https://cdn.pixabay.com/photo/2020/05/17/04/22/pizza-5179939__340.jpg"
          alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h3>10 seconds between slides...</h3>
        <p>This carousel uses customized default values.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="carosel-img">
        <img
          src="C:\Users\TP\Desktop\angular projects\pizza-new\image"
          alt="Random second slide">
      </div>
      <div class="carousel-caption">
        <h3>No mouse events...</h3>
        <p>This carousel doesn't pause or resume on mouse events</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="carosel-img">
        <img
          src="/image/pizza3.jpg"
          alt="Random third slide">
      </div>
      <div class="carousel-caption">
        <h3>No keyboard...</h3>
        <p>This carousel uses customized default values.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="carosel-img">
        <img
          src="/image/pizza4.jpg"
          alt="Random fourth slide">
      </div>
      <div class="carousel-caption">
        <h3>And no wrap after last slide.</h3>
        <p>This carousel uses customized default values.</p>
      </div>
    </ng-template>
  </ngb-carousel>
</div> -->

<section class="vh-100">
  <div class="toggleButton">
    <h2>Veg</h2>
    <label class="switch">
      <input type="checkbox">
      <span class="slider round"></span>
    </label>
   </div>
  <div class="row">
    <div *ngFor="let item of data" class="card" style="width: 15rem;">
      <h5 style="font-weight:bold; font-size:large; padding: 10px; " class="card-title">{{item.name}}</h5>
      <img mat-card-image src={{item.image}} class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">{{item.topping}}</p>
        <p style="font-weight:bold" class="card-text">Price: ₹{{item.price}}</p>
        <a class="btn btn-primary" (click)="passData(item)">Add To Cart</a>
      </div>
    </div>
  </div>

 
   


